body{
    display: flex;
    max-width: 1507px;
    margin: 0 auto;
}

.menu{
    display:blok;
    width: 248px;
    height: 982px;
    background-color: #4c4949;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav__header{
    width: 906px;
    height: 128px;
    background-color: grey;
}
.nav_content{
    width: 906px;
    height: 700px;
    background-color: #282222;
}
.footer{
    width: 906px;
    height: 154px;
    background-color: #a59d9d;
}
.notify{
    width:353px;
    height: 982px;
    background-color: #4c4949;

}
.title{
    font-size: 40px;
    color: #fcfdff;
    text-align: center;
}